# Configuración de entorno
SECRET_KEY=
FLASK_ENV=

# Configuración de email
MAIL_SERVER=
MAIL_PORT=
MAIL_USE_TLS=
MAIL_USE_SSL=
MAIL_USERNAME=
MAIL_PASSWORD=

# Configuración de base de datos
MONGO_URI=
DATABASE_URL=

# Configuración del programador
SCHEDULER_API_ENABLED=