:root {
    --primary: #00c37b;
    --dark: #121119;
    --light: #e9eae4;
    --gray: #3e3c3d;
    --light-gray: #d2d0d0;
    --black: #000000;
    --error: #ec766a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    /* Expande el contenido para llenar el espacio disponible */
}