/* Navbar */
.navbar {
    background-color: var(--dark);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: var(--shadow);
}

.navbar__left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar__logo {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.navbar__brand {
    color: var(--light);
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 10px;
}

.navbar__logout {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.navbar__logout:hover {
    background-color: var(--dark);
    color: var(--primary);
}

/* Main Layout */
.user-main {
    display: flex;
    padding: 2rem;
    gap: 2rem;
}

/* Sidebar */
.sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile-card {
    background-color: var(--dark);
    padding: 2rem;
    border-radius: 16px;
    color: var(--light);
    text-align: center;
    box-shadow: var(--shadow);
}

.profile-card__container {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto 1.5rem;
}

.profile-card__picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid var(--primary);
    position: relative;
}

.profile-card__picture img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.profile-card__change-picture {
    margin: 10px auto;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    color: var(--light);
    font-weight: bold;
    cursor: pointer;
}

.profile-card__change-picture:hover {
    color: var(--primary);
}

.profile-card {
    display: block;
}

.profile-card__info {
    display: inline-block;
    margin-top: 1.5rem;
}

.profile-card__info h3,
.profile-card__info p {
    margin: 10px 0;
}

.profile-card__change-password {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--light);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-card__change-password:hover {
    background-color: var(--primary-hover);
}

/* Sidebar Menu */
.sidebar__menu {
    background-color: var(--dark);
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.sidebar__menu-item {
    width: 100%;
    padding: 1rem;
    margin: 0.75rem 0;
    background-color: transparent;
    color: var(--light);
    border: 2px solid var(--primary);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.3s ease;
}

.sidebar__menu-item:hover {
    background-color: var(--primary);
    transform: translateY(-2px);
}

/* Content */
.content {
    flex: 1;
    background-color: white;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.panel {
    display: none;
}

.panel--active {
    display: block;
}

.plan__default-message {
    text-align: center;
    margin-top: 2rem;
    color: #cccaca;
    font-weight: bolder;
    font-size: 4rem;
}

.panel__title {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--primary);
    margin-bottom: 1rem;
}

/* No Plan */
.plan {
    text-align: center;
    margin-top: 2rem;
}

.plan__image img {
    width: 200px;
    height: 200px;
}

.plan__title {
    margin: 1rem 0;
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: bold;
}

.plan__description {
    color: var(--gray);
    margin-bottom: 1.5rem;
}

.plan__cta {
    padding: 1rem 2rem;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.plan__cta:hover {
    background-color: var(--primary-hover);
    transform: translateY(-2px);
}

/* Planes */
.plans-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.no__plan-message {
    text-align: center;
    margin-top: 2rem;
    color: #cccaca;
    font-weight: bolder;
    font-size: 4rem;
}

.plan-card {
    background-color: white;
    border-radius: 16px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    /* Centrado vertical */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrar verticalmente */
    align-items: center;
    /* Centrar horizontalmente */
    height: 100%;
    /* Asegura que la tarjeta ocupe toda la altura disponible */
}


.plan-card__title {
    font-size: 1.5rem;
    color: var(--dark);
    margin-bottom: 0.5rem;
}

.plan-card__price {
    font-size: 1.5rem;
    color: var(--primary);
    margin-bottom: 1rem;
    font-weight: bold;
}

.plan-card__features li {
    list-style: none;
    color: var(--gray);
    margin-bottom: 0.5rem;
}

.plans-grid__cta {
    font-size: 1.3rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem 2rem;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.plans-grid__cta:hover {
    background-color: var(--dark);
    color: var(--primary);
}

.locker-grid__legend {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.locker-info__message {
    color: #cccaca;
    font-weight: bolder;
    font-size: 2rem;
}

.locker-grid__legend-item {
    font-size: 1.5rem;
    font-weight: bolder;
    align-items: center;
    margin-bottom: 0.3rem;
}

.locker-grid__items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
}

.locker-grid__legend-item--reserved {
    color: #fda45b;
}

.locker-grid__legend-item--available {
    color: var(--primary);
}

.locker-grid__legend-item--purchased {
    color: #05c0ea;
}

/* Locker */
.locker-grid {
    padding: 1.5rem;
    background-color: #f8f9fa;
    border-radius: 16px;
}

.locker {
    display: grid;
    width: 70px;
    /* Ajuste automático según el contenedor */
    height: 70px;
    text-align: center;
    border-radius: 8px;
    background-color: var(--gray);
    color: white;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.locker--available {
    background-color: var(--primary);
}

.locker--reserved {
    background-color: #fda45b;
}

.locker--purchased {
    background-color: #05c0ea;
}

/* Mis Solicitudes - Detalles */

.request-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 8px 8px 0 0;
    font-weight: bolder;
    background-color: var(--primary);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.request-button:hover {
    background-color: var(--dark);
    color: var(--primary);
}

.my-requests {
    border-top: 2px solid var(--dark);
    padding: 1rem;
}

.request-details {
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: var(--shadow);
}

.request-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.request-card:hover {
    background-color: #e9e9e9;
}

.request-card__status {
    font-weight: bold;
    font-size: 1rem;
}

.request-card__status.pending {
    color: #fda45b;
}

.request-card__status.approved {
    color: var(--primary);
}

.request-card__status.denied {
    color: var(--error);
}

.request-card__type {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark);
}

.request-card__toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.request-details[open] .request-card__toggle {
    transform: rotate(180deg);
}

.request-details__content {
    padding: 1rem;
    border-top: 1px solid #e0e0e0;
    background-color: #fafafa;
}

.request-details__content p {
    margin: 0.5rem 0;
    color: var(--dark);
    font-size: 1rem;
}

.request-details__proof {
    margin-top: 1rem;
    text-align: center;
}

.request-details__proof img {
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: var(--shadow);
}